:export {
  primaryColor: $primaryColor;
  secondaryColor: $secondaryColor;
  primaryTextColor: $primaryTextColor;
  primaryBackgroundColor: $primaryBackgroundColor;
  secondaryBackgroundColor: $secondaryBackgroundColor;

  sizeXXS: $sizeXXS;
  sizeXS: $sizeXS;
  sizeS: $sizeS;
  sizeM: $sizeM;
  sizeL: $sizeL;
  sizeXL: $sizeXL;
  foo: 10;
}
