$block1BackgroundColor: #34344a;
$block1TextColor: #c89b7b;

$block2BackgroundColor: #80475e;
$block2TextColor: #f0f757;

$block3BackgroundColor: #cc5a71;
$block3TextColor: #f0f757;

$block4BackgroundColor: #f0f757;
$block4TextColor: #c89b7b;

$block5BackgroundColor: #c89b7b;
$block5TextColor: #f0f757;

$blockPositiveBackgroundColor: #4caf50;
$blockPositiveTextColor: #ffffff;

$blockNegativeBackgroundColor: #e53935;
$blockNegativeTextColor: #ffffff;

$sizeXXS: 4px;
$sizeXS: 8px;
$sizeS: 16px;
$sizeM: 32px;
$sizeL: 64px;
$sizeXL: 128px;
